<html>
    <head>
        <title>Form page</title>
    </head>
    <body>
        <h1>New Message Form</h1>
        <form method='POST' action="/new">
            <label for="author-input">Author:</label>
            <input type="text" id="author-input" name="user">
            <label for="mssg-input">Message:</label>
            <input type="text" id="mssg-input" name="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>