<html>
    <head>
        <title>Message</title>
    </head>
    <body>
        <h1>Message:</h1>
        <p><%= message.text %></p>
        <p>User: <%= message.user %></p>
        <p>Date: <%= message.added %></p>
        <div><a href="/">Back</a></div>
    </body>
</html>