<html>
    <head>
        <title>Message</title>
    </head>
    <body>
        <h1>Message:</h1>
        <%- include('partials/errors.ejs') %>
        <p><%= message.msg %></p>
        <p>User: <%= message.name %></p>
        <p>Date: <%= message.dateadded %></p>
        <div><a href="/">Back</a></div>
    </body>
</html>